*,
body,
html {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

body,
html {
    margin: 0 auto;
}

body {
    min-height: 100vh;
    background: #eee;
    display: block;
}


/**
 * Page Wrapper Style Rules
 */

.page-wrapper {
    display: block;
    margin: 0 auto;
    background: #fff;
    max-width: 1200px;
    h1 {
        display: block;
        text-align: center;
        color: #e20031;
        padding: 15px;
        margin-bottom: 20px;
    }
}

.slider-1 {
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
    display: block;
    &:after {
        clear: both;
        display: block;
        content: '';
    }
}

.slider-wrapper {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 100%;
    z-index: 100;
    .slider-content {
        display: block;
        overflow: hidden;
        margin: 0 auto;
        padding: 0;
        position: relative;
        width: auto;
        height: auto;
        z-index: 10;
        top: 0px;
        left: 0px;
        transition: left 0.75s;
        .slider-item {
            position: relative;
            margin: 0 auto;
            display: block;
            display: none;
            visibility: hidden;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-name: none;
            .agent-logo {
                display: inline-block;
                max-width: 90%;
                max-height: 90%;
                img {
                    display: block;
                    max-width: 100%;
                }
            }
            &.inactive {
                display: none;
            }
            &.active {
                visibility: visible;
                display: block;
                &.left {
                    animation-name: slideInLeft;
                }
                &.right {
                    animation-name: slideInRight;
                }
            }
            .slider-bg {
                position: absolute;
                z-index: -1;
                background: #fff url() no-repeat center;
                background-size: 500%;
                filter: blur(100px);
                //background-size: cover;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .btn-next,
    .btn-prev {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: auto;
        z-index: 101;
        cursor: pointer;
        border: 1px #000 solid;
        width: 50px;
        height: 50px;
        background: #000;
        border-radius: 50%;
        color: #fff;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        &:link,
        &:visited,
        &:hover,
        &:active {
            color: #fff;
        }
    }
    .btn-next {
        left: auto;
        right: 0;
    }
    .slider-pagination {
        display: inline-block;
        position: absolute;
        z-index: 100;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: auto;
        text-align: center;
        li {
            display: inline-block;
            padding: 5px;
            a,
            a:link,
            a:visited {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #fff;
                display: block;
                &:hover,
                &:active,
                &.active {
                    background: #af0026;
                }
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .slider-pagination {
            position: relative;
            bottom: 30px;
            display: block;
        }
    }
    @media only screen and (max-width: 480px) {
        .slider-pagination {
            display: none;
        }
    }
}

.agent-info {
    display: block;
    margin: 0 auto;
    padding: 50px;
    .table {
        display: table;
        height: 100%;
        width: 100%;
        .cell {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
    h3,
    h4 {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
            display: inline-block;
            padding: 10px 15px;
            text-align: center;
            color: #fff;
            background: #e20031;
        }
    }
    h4 {
        display: inline-block;
        background: #e20031;
        margin: 20px 8px 15px;
        color: #fff;
        padding: 10px;
    }
    ul.tab-list {
        display: block;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        position: relative;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 100;
        background: #e20031;
        li {
            float: left;
            display: block;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            width: 33.3333%;
            border-right: 1px #fff solid;
            &:nth-last-child(1) {
                border: none;
            }
            span {
                display: block;
                text-align: center;
                color: #fff;
                width: 50%;
                float: left;
                margin: 0 auto;
                padding: 10px 0;
                &.label {
                    text-transform: uppercase;
                }
            }
            @media only screen and (max-width: 1000px) {
                span {
                    width: 100%;
                    float: none;
                }
            }
        }
        @media screen and (max-width: 767px) {
            li {
                width: 100%;
                float: none;
                border-right: none;
                border-bottom: 1px #fff solid;
                &:after {
                    clear: both;
                    display: block;
                    content: '';
                }
                span {
                    width: 50%;
                    float: left;
                }
            }
        }
        &:after {
            clear: both;
            display: block;
            content: '';
        }
    }
}


/**
 * Animations
 */

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
