*,
body,
html {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif; }

body,
html {
  margin: 0 auto; }

body {
  min-height: 100vh;
  background: #eee;
  display: block; }

/**
 * Page Wrapper Style Rules
 */
.page-wrapper {
  display: block;
  margin: 0 auto;
  background: #fff;
  max-width: 1200px; }
  .page-wrapper h1 {
    display: block;
    text-align: center;
    color: #e20031;
    padding: 15px;
    margin-bottom: 20px; }

.slider-1 {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
  display: block; }
  .slider-1:after {
    clear: both;
    display: block;
    content: ''; }

.slider-wrapper {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 100; }
  .slider-wrapper .slider-content {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: auto;
    height: auto;
    z-index: 10;
    top: 0px;
    left: 0px;
    -webkit-transition: left 0.75s;
    transition: left 0.75s; }
    .slider-wrapper .slider-content .slider-item {
      position: relative;
      margin: 0 auto;
      display: block;
      display: none;
      visibility: hidden;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: none;
      animation-name: none; }
      .slider-wrapper .slider-content .slider-item .agent-logo {
        display: inline-block;
        max-width: 90%;
        max-height: 90%; }
        .slider-wrapper .slider-content .slider-item .agent-logo img {
          display: block;
          max-width: 100%; }
      .slider-wrapper .slider-content .slider-item.inactive {
        display: none; }
      .slider-wrapper .slider-content .slider-item.active {
        visibility: visible;
        display: block; }
        .slider-wrapper .slider-content .slider-item.active.left {
          -webkit-animation-name: slideInLeft;
          animation-name: slideInLeft; }
        .slider-wrapper .slider-content .slider-item.active.right {
          -webkit-animation-name: slideInRight;
          animation-name: slideInRight; }
      .slider-wrapper .slider-content .slider-item .slider-bg {
        position: absolute;
        z-index: -1;
        background: #fff url() no-repeat center;
        background-size: 500%;
        -webkit-filter: blur(100px);
        filter: blur(100px);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .slider-wrapper .btn-next,
  .slider-wrapper .btn-prev {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: auto;
    z-index: 101;
    cursor: pointer;
    border: 1px #000 solid;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 25px; }
    .slider-wrapper .btn-next:link, .slider-wrapper .btn-next:visited, .slider-wrapper .btn-next:hover, .slider-wrapper .btn-next:active,
    .slider-wrapper .btn-prev:link,
    .slider-wrapper .btn-prev:visited,
    .slider-wrapper .btn-prev:hover,
    .slider-wrapper .btn-prev:active {
      color: #fff; }
  .slider-wrapper .btn-next {
    left: auto;
    right: 0; }
  .slider-wrapper .slider-pagination {
    display: inline-block;
    position: absolute;
    z-index: 100;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
    text-align: center; }
    .slider-wrapper .slider-pagination li {
      display: inline-block;
      padding: 5px; }
      .slider-wrapper .slider-pagination li a,
      .slider-wrapper .slider-pagination li a:link,
      .slider-wrapper .slider-pagination li a:visited {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        display: block; }
        .slider-wrapper .slider-pagination li a:hover, .slider-wrapper .slider-pagination li a:active, .slider-wrapper .slider-pagination li a.active,
        .slider-wrapper .slider-pagination li a:link:hover,
        .slider-wrapper .slider-pagination li a:link:active,
        .slider-wrapper .slider-pagination li a:link.active,
        .slider-wrapper .slider-pagination li a:visited:hover,
        .slider-wrapper .slider-pagination li a:visited:active,
        .slider-wrapper .slider-pagination li a:visited.active {
          background: #af0026; }
  @media only screen and (max-width: 767px) {
    .slider-wrapper .slider-pagination {
      position: relative;
      bottom: 30px;
      display: block; } }
  @media only screen and (max-width: 480px) {
    .slider-wrapper .slider-pagination {
      display: none; } }

.agent-info {
  display: block;
  margin: 0 auto;
  padding: 50px; }
  .agent-info .table {
    display: table;
    height: 100%;
    width: 100%; }
    .agent-info .table .cell {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
  .agent-info h3,
  .agent-info h4 {
    display: block;
    margin: 0 auto;
    margin-top: 25px; }
    .agent-info h3 a,
    .agent-info h3 a:link,
    .agent-info h3 a:visited,
    .agent-info h3 a:hover,
    .agent-info h3 a:active,
    .agent-info h4 a,
    .agent-info h4 a:link,
    .agent-info h4 a:visited,
    .agent-info h4 a:hover,
    .agent-info h4 a:active {
      display: inline-block;
      padding: 10px 15px;
      text-align: center;
      color: #fff;
      background: #e20031; }
  .agent-info h4 {
    display: inline-block;
    background: #e20031;
    margin: 20px 8px 15px;
    color: #fff;
    padding: 10px; }
  .agent-info ul.tab-list {
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    background: #e20031; }
    .agent-info ul.tab-list li {
      float: left;
      display: block;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      width: 33.3333%;
      border-right: 1px #fff solid; }
      .agent-info ul.tab-list li:nth-last-child(1) {
        border: none; }
      .agent-info ul.tab-list li span {
        display: block;
        text-align: center;
        color: #fff;
        width: 50%;
        float: left;
        margin: 0 auto;
        padding: 10px 0; }
        .agent-info ul.tab-list li span.label {
          text-transform: uppercase; }
      @media only screen and (max-width: 1000px) {
        .agent-info ul.tab-list li span {
          width: 100%;
          float: none; } }
    @media screen and (max-width: 767px) {
      .agent-info ul.tab-list li {
        width: 100%;
        float: none;
        border-right: none;
        border-bottom: 1px #fff solid; }
        .agent-info ul.tab-list li:after {
          clear: both;
          display: block;
          content: ''; }
        .agent-info ul.tab-list li span {
          width: 50%;
          float: left; } }
    .agent-info ul.tab-list:after {
      clear: both;
      display: block;
      content: ''; }

/**
 * Animations
 */
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
